@import "tailwindcss";

@import './topo.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.btnPadrao{
  display: flex;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}




